@font-face {
  font-family: Rubik;
  src: url("../assets/fonts/Rubik/Rubik-Regular.ttf");
}
@font-face {
  font-family: Rubik-light;
  src: url("../assets/fonts/Rubik/Rubik-Light.ttf");
}

html {
  font-family: sans-serif;
  overflow: auto !important;
}
a {
  text-decoration: none;
  display: flex;
  color: #2c3448 !important;
}
/* ::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #357e6f;
  box-shadow: inset 0 0 6px rgba(0,0,0,0.2);
}
::-webkit-scrollbar-track {
  background-color: whitesmoke;
}
::-webkit-scrollbar {
  width: 10px;
} */
.v-application {
  margin: 0;
  direction: rtl !important;
  background-color: #f0f3f8 !important;
  font-family: Rubik !important;
}
.v-application p {
  margin-bottom: 0 !important;
}
.v-application--is-ltr .v-treeview-node__toggle {
  transform: rotate(90deg) !important;
}
.v-application--is-ltr .v-treeview-node__toggle--open {
  transform: none !important;
}
.v-application--is-rtl .v-list-item__action:first-child, .v-application--is-rtl .v-list-item__icon:first-child{
  margin-left: 7px !important;
}
.v-list--nav .v-list-item:not(:last-child):not(:only-child), .v-list--rounded .v-list-item:not(:last-child):not(:only-child) {
  margin-bottom: 0 !important;
}
.theme--light.v-data-table thead tr th {
  font-size: 17px !important;
  font-family: Rubik-Light;
  height: 70px !important;
  font-weight: 500;
  color: #2c3448 !important;
}
.v-data-table td {
  font-size: 17px !important;
  font-family: Rubik-Light;
  font-weight: 500;
  color: #2c3448 !important;
  height: 70px !important;
}
.theme--light.v-data-table thead tr:last-child th {
  border-bottom: rgb(213, 221, 235) 1px solid !important;
}
.theme--light.v-data-table tbody tr.v-data-table__selected {
  background-color: rgb(230, 236, 246) !important;
}
.theme--light.v-data-table tbody tr:hover:not(.v-data-table__expanded__content):not(.v-data-table__empty-wrapper) {
  background-color: rgb(213, 221, 235) !important;
}
.v-btn:not(.v-btn--round).v-size--default {
  width: 100%;
}
.v-treeview-node__root {
  flex-direction: row-reverse;
}
.v-step {
  background: #357e6f !important;
  box-shadow: 0px 30px 38px 0 rgba(53, 126, 111, 0.42) !important;
}
.auto-margin {
  margin: auto;
  display: block;
}
.button-text {
  color: #f0f4f7;
  padding-right: 5px;
}
.flex {
  display: flex;
  flex-wrap: wrap;
}
.ltr {
  direction: ltr;
}
.pointer {
  cursor: pointer;
}
.v-label {
  text-align: right !important;
  padding-right: 5px;
}
.popup-text {
  font-size: 18px;
  padding-bottom: 15px;
}
.page-container {
  margin: 70px;
  display: block;
}
.space-between {
  display: flex;
  justify-content: space-between;
}
.space-right {
  margin: 0 13px 0 0;
}
.space-left {
  margin-left: 7px;
}
.space {
  margin: 0 3px;
}
.top-space {
  margin-top: 10px;
}
.file-list-structure {
  height: 70px;
  line-height: 70px;
  width: 100%;
  border-bottom: rgb(213, 221, 235) 1px solid;
  padding-right: 50px;
  text-align: right;
  font-size: 17px;
  font-family: Rubik-Light;
  color: #2c3448;
  display: grid;
  grid-template-columns: 5% 5% 35% 15% 15% 15%;
  grid-auto-rows: 70px;
}
.fab-icon {
  width: 18px;
  font-size: 50px;
}
.popup-icon {
  width: 70px;
  padding: 60px 0 15px;
}
.d-title {
  font-size: 34px !important;
  color: #353446;
  text-align: center;
  padding-bottom: 20px;
}
.d-subtitle {
  font-size: 22px;
  padding-bottom: 20px;
  color: #353446;
}
.select-container {
  width: 150px;
}
.popup {
  border-radius: 10px;
  position: relative;
}
.popup-header {
  background-color: #ffffff;
  width: 100%;
}
.popup-body {
  background-color: #f0f4f7;
  width: 100%;
  padding: 30px 60px;
}
.popup-confirm {
  padding: 0;
  flex-direction: row-reverse;
}
.v-snack__content {
  direction: rtl !important;
  justify-content: right !important;
}
.right {
  justify-content: right;
}