@font-face {
  font-family: Rubik;
  src: url("../assets/fonts/Rubik/Rubik-Regular.ttf");
}
@font-face {
  font-family: Rubik-light;
  src: url("../assets/fonts/Rubik/Rubik-Light.ttf");
}

html {
  font-family: sans-serif;
  overflow: auto !important;
}
a {
  text-decoration: none;
  display: flex;
  color: #2c3448 !important;
}
.v-application {
  margin: 0;
  direction: rtl !important;
  background-color: #f0f3f8 !important;
  font-family: Rubik !important;
}
.v-application p {
  margin-bottom: 0 !important;
}
.v-application--is-ltr .v-treeview-node__toggle {
  transform: rotate(90deg) !important;
}
.v-application--is-ltr .v-treeview-node__toggle--open {
  transform: none !important;
}
.v-btn:not(.v-btn--round).v-size--default {
  width: 100%;
}
.auto-margin {
  margin: auto;
  display: block;
}
.button-text {
  color: #f0f4f7;
  padding-right: 5px;
}
.flex {
  display: flex;
  flex-wrap: wrap;
}
.ltr {
  direction: ltr;
}
.pointer {
  cursor: pointer;
}
.page-header {
  color: #2c3448;
  font-family: Rubik-light;
  text-align: right;
  padding-bottom: 8px;
  display: flex;
  font-size: 40px;
  font-weight: 400;
  border-bottom: 2px solid #357e6f;
}
.v-label {
  text-align: right !important;
  padding-right: 5px;
}
.popup-text {
  font-size: 18px;
  padding-bottom: 15px;
}
.page-container {
  margin: 70px;
  margin-left: 70px;
  display: block;
}
.space-between {
  display: flex;
  justify-content: space-between;
}
.space-right {
  margin: 0 13px 0 0;
}
.space {
  margin: 0 3px;
}
.top-space {
  margin-top: 10px;
}
.file-list-structure {
  height: 70px;
  line-height: 70px;
  width: 100%;
  border-bottom: rgb(213, 221, 235) 1px solid;
  padding-right: 50px;
  text-align: right;
  font-size: 17px;
  font-family: Rubik-Light;
  color: #2c3448;
  display: grid;
  grid-template-columns: 5% 5% 35% 15% 15% 15%;
  grid-auto-rows: 70px;
}
.fab-icon {
  width: 18px;
  font-size: 50px;
}
.d-title {
  font-size: 34px !important;
  color: #353446;
  text-align: center;
  padding-bottom: 20px;
}
.d-subtitle {
  font-size: 22px;
  padding-bottom: 20px;
  color: #353446;
}
.select-container {
  width: 150px;
}
.popup {
  border-radius: 10px;
  position: relative;
}
.popup-header {
  background-color: #ffffff;
  width: 100%;
}
.popup-icon {
  padding: 60px 0 15px;
}
.popup-body {
  background-color: #f0f4f7;
  width: 100%;
  padding: 30px 60px;
}
.popup-confirm {
  padding: 0;
  flex-direction: row-reverse;
}
